@font-face {
  font-family: 'Anime Ace';
  font-style: normal;
  font-weight: 400;
  src: local('Anime Ace'), local('AnimeAce-Regular'),
  url(https://allfont.ru/cache/fonts/anime-ace_e18829f48f41e48880e951d47a6111bd.woff) format('woff'),
  url(https://allfont.ru/cache/fonts/anime-ace_e18829f48f41e48880e951d47a6111bd.ttf) format('truetype');
}

body {
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
}

.app {
  width: 47vw;
  min-width: 47vw;
  min-height: 100px;
  margin-top: 50px;
  border: 3px solid darkgray;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: lightblue;
  font-family: 'Anime Ace', arial;
}

.header .main-logo{
  width: 50px;
  margin: 10px;
  border-radius: 3px;
}

.header .summary {
  text-align: left;
  font-size: 12px;
}

.header .summary td {
  vertical-align: top;
  border-left: 10px solid transparent;
  padding: 3px
}

.header .fa{
  font-size: 40px;
  cursor: pointer;
}

.header a{
  text-decoration: none;
  color: black;
}

.header a:active {
  opacity: 0.5;
}

.desire {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background-color: whitesmoke;
  border-bottom: 1px solid lightgrey;
}

.desire .checkbox {
  vertical-align: bottom;
  margin-right: 20px;
}

.desire .fa {
  font-size: 25px;
  color: gray;
}

.desire .title {
  font-size: 16px;
  color: grey;
  font-family: sans-serif;
  margin-right: auto;
}


.desire .button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 45px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  transition: 100ms;
}

.desire .button:hover {
  background-color: lightgrey;
}

.desire .button:active {
  opacity: 0.5;
}

.desire .button .fa {
  display: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: normal;
  margin: auto;
}

.desire:hover .button .fa {
  display: block;
}

.desire .checkbox {
  cursor: pointer;
}

.desire-form {
  position: relative;
  border: 2px solid gray;
}

.desire-form input {
  width: 100%;
  height: 70px;
  padding: 14px 20px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.desire-form .fa-pencil {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.desire-completed {
  opacity: 0.5;
}
.desire-completed .checkbox {
  margin-right: 16.5px;
}

.desire-completed .title {
  text-decoration: line-through;
}

.description-is-closed {
  position: relative;
  display: none;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
  color: dimgray;
  transition: display, 500ms;
}

.description-is-opened {
  display: block;
}

.description-is-closed .comment-area{
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  padding-right: 40px;
  border: 1px solid dimgray;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

.description-is-closed .fa-send {
  position: absolute;
  bottom: 43px;
  right: 30px;
  cursor: pointer;
}

.description-is-closed .comments {
  /*margin-top: 40px;*/
  padding: 0 10px;
  font-size: 13px;
  color: darkslategray;
}

.description-is-closed .comments .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 5px 10px;
  word-break: break-all;
  border-bottom: 1px solid lightgrey;
}

.description-is-closed .comments .comment span{
  margin-right: auto;
}

.description-is-closed .comments .comment .fa-comment {
  margin-right: 15px;
  font-size: 20px;
  color: grey;
}

.description-is-closed .comments p {
  padding-bottom: 7px;
}

.new-desire .header {
  padding: 0 30px;
}

.new-desire .header h3{
  margin: auto;
}

.new-desire .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /*background-color: lightgrey;*/
}

.new-desire .button:hover {
  background-color: lightsalmon;
}

.new-desire .header .fa{
  font-size: 25px;
}

.new-desire .header div:nth-child(3){
  opacity: 0.25;
}

.new-desire form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  font-family: 'Anime Ace', arial;
  font-size: 12px;
  font-weight: bold;
}

.new-desire form input, textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  border: 0;
  border-bottom: 1px solid lightgrey;
  outline: none;
  font-family: Georgia;
  font-size: 14px;
}

.new-desire .button .fa:active{
  opacity: 0.5;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  font-size: 14px;
  color: gray;
  background-color: whitesmoke;
}
